@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-white; /* Apply Tailwind's bg-neutral-100 */
  color: rgb(var(--foreground-rgb));
  /* Remove the linear-gradient background if you want just bg-neutral-100 */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.red {
  color: red;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 11px;
  display: none; 
}